.App {
  text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 20px);
    grid-template-rows: repeat(var(--rows), 20px);
}

.cell {
    outline: 1px solid black;
}