@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans-Regular'), url('./fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

.App {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans';
}

button {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-family: 'Open Sans';
    margin-bottom: 20px;
    max-width: 200px;
    padding: 5px;
}

button:hover {
    background-color: black;
    color: white;
}

.grid {
    flex: 1 0 100%;
    display: grid;
    grid-template-columns: repeat(var(--cols), 20px);
    grid-template-rows: repeat(var(--rows), 20px);
    margin-top: 20px;
}

.cell {
    outline: 1px solid black;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

input {
    margin-bottom: 20px;
    width: 200px;
}

.left, .right {
    width: 50%;
}

.left {
    display: flex;
    flex-wrap: wrap;
}

.storedImages {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    /* row-gap: 20px; */
    padding: 0;
}
